<header class="masthead d-flex">
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            
            <div class="card text-center" style="width: 18rem;">
                <div class="m-4"><img class="card-img-top" src="img/img4.png" alt="Imagen corporativa" width="150px" height="220px"></div>
                <div class="card-body">
                    <h3>{{user.fullname}}</h3>
                    <h4>@{{user.username}}</h4>
                    <a href="/unidades" class="btn btn-info m-4">
                        Ver Unidades
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</header>